
<div class="bg-1" >
    
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
                <div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
 
</div>
   

<div class="main-banner-text">
    <app-banner-home></app-banner-home>   
                    <h1>The Best <span>Digital</span> Experience</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a (click)="onClick('about')" class="btn btn-primary">Get Started</a>
                    <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a>
                </div>
            </div>
        </div>
    </div>
</div>



<app-welcome></app-welcome>

<app-about></app-about>


<app-who-we-are></app-who-we-are>

<app-cta></app-cta>

<app-skill></app-skill>

<app-funfacts></app-funfacts>



<app-how-we-work></app-how-we-work>

<app-services></app-services>

<app-why-we-different></app-why-we-different>


<app-faq></app-faq>

<app-feedback></app-feedback>



<app-partner></app-partner>



