<footer class="footer-area">
    <div class="container">
        <h3> <a class="navbar-brand" routerLink="/"><span class="home-center-banner"> <img src="assets/img/dstar_logo.png" class="main-logo" alt="image"></span><span>D</span>Star</a></h3>
        <ul>
            <li><a href="#" target="_blank" class="fab fa-facebook-f"></a></li>
            <li><a href="#" target="_blank" class="fab fa-twitter"></a></li>
            <li><a href="#" target="_blank" class="fab fa-linkedin-in"></a></li>
            <li><a href="#" target="_blank" class="fab fa-instagram"></a></li>
            <li><a href="#" target="_blank" class="fab fa-skype"></a></li>
        </ul>
        <p>Copyright <i class="far fa-copyright"></i>Dstar. 2021 All Rights Reserved.</p>
    </div>
</footer>

<app-demo-sidebar></app-demo-sidebar>

<ngx-scrolltop></ngx-scrolltop>